html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

html {
  display: block;
  margin: 0;
}

/* ### MAIN GRID CONTAINER ###
_____________________________________*/

.container {
  /* border: 1px solid black; */
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 1fr 1fr 1fr 0.25fr;
  grid-template-areas:
    "header"
    "heading"
    "image"
    "main"
    "footer";
  margin-left: 10%;
  margin-right: 10%;
  object-fit: contain;
}



/* ### HEADER ###
_____________________________________*/

/* header styling */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Amatic SC', cursive;
  margin: 0;
  padding: 20px;
  font-size: 20px;
  color: #D0BBA3;
  width: 100vw;
  margin-left: calc(-1 * ((100vw - 100%) / 2));
  background-color: #e3f2f6;
}

img {
    align-self: center;
    margin: 20px 20px 0px 0px;
}

#blog-title {
  margin: 20px 0px 0px 0px;
}

#main-title {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  font-family: 'Amatic SC', cursive;
  color: #D0BBA3;
}

/* nav styling */
nav {
  display: flex;
  width: 200%;
}
nav > ul > li > a {
  margin-right: 20px;
  font-family: "Open Sans", semi-bold;
  text-decoration: none;
  font-size: 16px;
  color: #2C909C;
  width: 25%;
}

nav, ul {
  margin: 0;
}

nav ul li {
  display: block;
  float: left;
  position: bottom;
  z-index: auto;
  margin-top: 10px;
  margin-bottom: 15px;
}


/* ### MAIN BODY ###
_____________________________________*/

/* main content styling */
main {
  text-align: left;
  font-family: "Open Sans";
  font-size: 1em;
  padding: 5%;
}

body {
  margin: 0px 0px 0px 0px;
}

h1 {
  margin: 0;
}

.main-image {
  /* border: 1px solid black; */
  object-fit: fill;
  width: 100%;
  margin: 0;
  margin: 5% 0% 5% 0%;
  box-shadow: 5px 10px 7px 3px black;
}

.blog-title {
  margin-bottom: 20px;
  font-size: 1.5em;
  font-family: 'Amatic SC', cursive;
}

#blog-title {
  font-family: 'Amatic SC', cursive;
  margin-left: 20px 20px 0px 0px;
  justify-content: center;
  align-items: center;
}

.avatar {
  margin: 10px;
}

main p {
  font-family: "Open Sans";
  font-size: 0.75em;
  margin: 0;
}

/* blockquote styling */
blockquote {
  font-style: italic;
  margin: 0;
  display: flex;
}

.blockquote {
  background-color: #e6e3e3;
  justify-content: center;
  text-align: center;
  font-size: 0.85em;
  margin: 3%;
}



/* ### FOOTER ###
_____________________________________*/

/* footer styling */
.footer {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-left: calc(-1 * ((100vw - 100%) / 2));
  margin-top: 10px;
  background-color: #e3f2f6;
  /* padding: 10px; */
}

.footer-info {
  display: block;
  font-family: "Open Sans";
  color: #D0BBA3;
  text-decoration: none;
}

.social {
  margin: 10px;
}

.social > a{
  display: inline-block;
  margin: 10px;
}

p > a {
  text-decoration: none;
  color: #D0BBA3;
}


/* ### MEDIA QUERIES ###
_____________________________________*/

/* large screens */
@media (min-width:901px) {
  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 1fr 1fr 1fr 0.25fr;
    grid-template-areas:
      "header"
      "heading"
      "image"
      "main"
      "footer";
    margin-left: 10%;
    margin-right: 10%;
    object-fit: contain;
  }
}

/* medium screens */
@media (min-width:481px) and (max-width:768px) {
  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 1fr 1fr 1fr 0.25fr;
    grid-template-areas:
      "header"
      "heading"
      "image"
      "main"
      "footer";
    margin-left: 10%;
    margin-right: 10%;
    object-fit: contain;
  }
}

/* small screens */
@media (min-width:320px) and (max-width:480px) {
  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 1fr 1fr 1fr 0.25fr;
    grid-template-areas:
      "header"
      "heading"
      "image"
      "main"
      "footer";
    margin-left: 10%;
    margin-right: 10%;
    object-fit: contain;
  }
}
